<ion-content>
  <div class="ion-padding">
    <div class="logo">
      <ion-img src="../../assets/images/geopal.png"></ion-img>
    </div>

    <ion-item lines="none">
      <ion-label class="login-label">Entra na tua conta</ion-label>
    </ion-item>

    <form (ngSubmit)="fazerLogin()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" placeholder="******"></ion-input>
      </ion-item>
      <div class="btns">
        <ion-button id="login" shape="round" type="submit">Login</ion-button>
        <ion-button color="secondary" shape="round" fill="outline" [routerLink]="['/home']">Voltar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
