<ion-content>
  <div class="ion-padding">
    <div class="logo">
      <ion-img src="../../assets/images/geopal.png"/>
    </div>

    <ion-item lines="none">
      <ion-label class="login-label">Entra na tua conta</ion-label>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="********"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" class="button_login" (click)="LoginApp()">Entrar</ion-button>
  </div>
</ion-content>
