<ion-content>
  <div class="ion-padding">
    <div class="logo">
      <ion-img src="../../assets/images/geopal.png"></ion-img>
    </div>

    <ion-item lines="none">
      <ion-label class="login-label">Entra na tua conta</ion-label>
    </ion-item>

    <form (ngSubmit)="fazerLogin()">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit">Login</ion-button>
    </form>
  </div>
</ion-content>
