<ion-content>
  <div class="ion-padding">

    <div class="logo">
      <ion-img src="../../assets/images/geopal.png"/>
    </div>

    <ion-item lines="none">
      <ion-label class="register-label">Cria a tua conta</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" placeholder="Nome" [(ngModel)]="registo.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" placeholder="alguem@dominio.com" [(ngModel)]="registo.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" placeholder="********" [(ngModel)]="registo.password"></ion-input>
    </ion-item>
    <div class="btns">
    <ion-button id="registar" expand="full" shape="round" color="primary"  (click)="registrar(registo)">Registar</ion-button>
    <ion-button expand="full" shape="round" fill="outline" [routerLink]="['/home']">Voltar</ion-button>
  </div>
  </div>
</ion-content>
