ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  margin-top: 25%;
  margin-bottom: 25%;
}

ion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  text-decoration-color: black;
}

ion-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.button_register {
  display: flex;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 10%;
}


.register-label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Helvetica", sans-serif;
}

