<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="simbolo" slot="start" src="../../assets/images/geopal.png"></ion-img>
    <ion-title>O Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="userProfile">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>{{ userProfile.Nome }}</ion-card-title>
      </ion-card-header>
      <ion-item lines="none">
        <ion-label>Email:</ion-label>
        <!-- <ion-input label="Input with placeholder" placeholder="Enter company name"></ion-input> -->
        <ion-text>{{userProfile.Email}}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Localização:</ion-label>
        <ion-text>{{ localizacao }}</ion-text>
      </ion-item>


    </ion-card-content>
  </ion-card>

  <app-mapa-profile id="mapa" (locationConfirmed)="confirmarLocalizacao($event)"></app-mapa-profile>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="amigos" [routerLink]="['/friends-menu']">
        <ion-icon name="people-circle"></ion-icon>
        Amigos
      </ion-tab-button>
      <ion-tab-button tab="mapa" [routerLink]="['/map']">
        <ion-icon name="map"></ion-icon>
        Mapa
      </ion-tab-button>
      <ion-tab-button tab="notificacoes" [routerLink]="['/notificacoes']">
        <ion-icon name="mail-outline"></ion-icon>
        Notificações
      </ion-tab-button>
      <ion-tab-button tab="perfil" [routerLink]="['/profile']">
        <ion-icon name="person-circle"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="sair()" class="button">Sair</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" fill="outline" (click)="eliminarConta()" class="button">Eliminar conta</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
