<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="simbolo" slot="start" src="../../assets/images/geopal.png"></ion-img>
    <ion-title>O Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <!-- Quando se passa o rato aparecer change image -->
          <ion-img src="../../assets/images/boneco1.png"/>
        </ion-item>
        <ion-card-header>
          <ion-card-title>Nome do User 1</ion-card-title>
        </ion-card-header>
        <ion-item lines="none">
        <ion-label>Email</ion-label>
        <!-- <ion-input label="Input with placeholder" placeholder="Enter company name"></ion-input> -->
        <!-- <ion-text>{{user.email}}</ion-text> -->
        </ion-item>
        <ion-item lines="none">
          <ion-label>Idade</ion-label>
          <!-- <ion-text>{{user.age}}</ion-text> -->
        </ion-item>

        <ion-item lines="none">
          <ion-label>Localização</ion-label>
          <!-- <ion-text>{{user.location}}</ion-text> -->
        </ion-item>
        <app-map></app-map>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="primary" [routerLink]="['/home']" class="button">Sair</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="secondary" fill="outline" [routerLink]="['/home']"  class="button">Eliminar conta</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    

    

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="amigos" [routerLink]="['/friends-menu']">
        <ion-icon name="people-circle"></ion-icon>
        Amigos
      </ion-tab-button>
      <ion-tab-button tab="mapa" [routerLink]="['/map']">
        <ion-icon name="map"></ion-icon>
        Mapa
      </ion-tab-button>
      <ion-tab-button tab="notificacoes" [routerLink]="['/notificacoes']">
        <ion-icon name="mail-outline"></ion-icon>
        Notificações
      </ion-tab-button>
      <ion-tab-button tab="perfil" [routerLink]="['/profile']">
        <ion-icon name="person-circle"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
    
  </ion-tabs>

  

  
  



</ion-content>
