<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="simbolo" slot="start" src="../../assets/images/geopal.png"></ion-img>
    <ion-title>O Meu Mapa</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <script src="script.js"></script> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mapa</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-img src="../../assets/images/mapa.png"/> -->
  <!-- <app-map></app-map> -->
  <div id="map-component">
    <app-map></app-map>
  </div>




    <!-- <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script>
        map = new MapComponent.Map("map");
        map.addLayer(new MapComponent.Layer.OSM());

        var lonLat = new MapComponent.LonLat( 41.17267494234301, -8.670196292999067 )
              .transform(
                new MapComponent.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
              );

        var zoom=16;

        var markers = new MapComponent.Layer.Markers( "Markers" );
        map.addLayer(markers);

        markers.addMarker(new MapComponent.Marker(lonLat));

        map.setCenter (lonLat, zoom);
    </script> -->


    <!-- (click)="buscaValorMapChild()" -->

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="amigos" [routerLink]="['/friends-menu']">
        <ion-icon name="people-circle"></ion-icon>
        Amigos
      </ion-tab-button>
      <ion-tab-button tab="mapa" [routerLink]="['/map']">
        <ion-icon name="map"></ion-icon>
        Mapa
      </ion-tab-button>
      <ion-tab-button tab="notificacoes" [routerLink]="['/notificacoes']">
        <ion-icon name="mail-outline"></ion-icon>
        Notificações
      </ion-tab-button>
      <ion-tab-button tab="profile" [routerLink]="['/profile']">
        <ion-icon name="person-circle"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
