<ion-content>

  <div class="logo">
      <ion-img src="../../assets/images/geopal.png"/>
  </div>

  <div class="ion-padding button-container">
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="primary" class="button_register" (click)="GoToRegister()">Registar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="secondary" fill="outline" class="button_login" (click)="GoToLogin()">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
