<ion-content>
  <div>
    <ion-item>
      <img src="../../assets/images/geopal.png">
    </ion-item>

    <ion-item>
      <ion-label class="home-label">Bem-vindo!</ion-label>
    </ion-item>
  </div>

  <div class="ion-padding button-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="primary" class="button_register" (click)="GoToRegister()">Registar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="primary" class="button_login" (click)="GoToLogin()">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
