ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  margin-top: 25%;
  margin-bottom: 25%;
}

ion-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 269px;
  height: 219px;
  align-items: center;
}


.button-container {
  margin-top: 75px;
}

.button_login {
  max-width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
}

.button_register {
  max-width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
}


.home-label {
  text-align: center;
  font-weight: bold;
  margin-top: 75px;
  font-size: 30px;
  font-family: "Helvetica", sans-serif;
}

