<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>O Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">O Meu Perfil</ion-title>
      <!-- <ion-icon name="file-tray-outline"></ion-icon> -->
    </ion-toolbar>
    
  </ion-header>

  

    <ion-card>  
      <ion-card-content>
        <ion-item>
          <!-- Quando se passa o rato aparecer change image -->
        <img src="../../assets/images/boneco1.png">
        </ion-item>
        <ion-card-header>
          <ion-card-title>Nome do User 1</ion-card-title>
        </ion-card-header>
        <ion-item>
        <ion-label>Email</ion-label>
        <!-- <ion-input label="Input with placeholder" placeholder="Enter company name"></ion-input> -->
        <!-- <ion-text>{{user.email}}</ion-text> -->
        </ion-item>
        <ion-item>
          <ion-label>Idade</ion-label>
          <!-- <ion-text>{{user.age}}</ion-text> -->
        </ion-item>
  
        <ion-item>
          <ion-label>Localização</ion-label>
          <!-- <ion-text>{{user.location}}</ion-text> -->
        </ion-item>
      </ion-card-content>
    </ion-card>


</ion-content>
